*{
  padding: 0px 0px;
  margin: 0px 0px;
  font-family: cursive;
  box-sizing: border-box;
  text-decoration: none;
}
body{
width: 100vw;
}
.upperImg{
width: 100vw;
height: 55vh;
z-index: -2;
background-position:center center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.lower{
position: fixed;
z-index: -3;
}
.lowerImg{
width: 100vw;
height: 60vh;
object-fit: cover;
position: fixed;
top: 40vh;
background-position:center center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;

}
.angle--bottom-right {
z-index: -2;
position: fixed;
overflow: hidden;
-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
        clip-path: polygon(0 0, 100% 0, 103% calc(100% - 20vw), -15% 100%);
}
@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%))) {
.angle--bottom-right::before, .angle--bottom-right::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 10;
  display: block;
  border-style: solid;
}
.angle--bottom-right::after {
  bottom: 0;
  border-width: 0 0 15vw 100vw;
  border-color: transparent transparent #fff transparent;
}
}



/* ページトップのCSS */
.title-logo-container::before{
content:"";
background-color: rgba(233, 197, 197, 0.418);
position:fixed;
top:0;
left:0;
z-index:-1;
width:100%;
height:100vh;
}
.title-logo-container{
width: 100vw;
height: 100vh;
vertical-align: bottom;
position: relative;
}
.mobile-logo{
width: 70vw;
position: absolute;
bottom: 13vh;
right: 0vw;
margin-bottom: 2vh ;
margin-right: 3vw;
}
#scroll-down {
padding-top: 70px;
}
#scroll-down span {
position: absolute;
bottom: 13vh;
left:12vw;
width: 24px;
height: 24px;
margin-left: -12px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-animation: sdb 1.5s infinite;
animation: sdb 1.5s infinite;
box-sizing: border-box;
}
@-webkit-keyframes sdb {
0% {
-webkit-transform: rotate(-45deg) translate(0, 0);
opacity: 0;
}
50% {
opacity: 1;
}
100% {
-webkit-transform: rotate(-45deg) translate(-40px, 40px);
opacity: 0;
}
}
@keyframes sdb {
0% {
transform: rotate(-45deg) translate(0, 0);
opacity: 0;
}
50% {
opacity: 1;
}
100% {
transform: rotate(-45deg) translate(-40px, 40px);
opacity: 0;
}
}

/* 1ページ目のCSS */
.page1{
height: 80vh;
width: 90vw;
margin: 7vh auto 3vh auto;
position: relative;
background-color: rgba(250, 235, 215, 0.459);
text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.507);
}
.page1-content{
display: inline-block;
width: 100%;
font-size: 11vw;
font-weight: bold;
color:  rgb(29, 75, 61);
padding-left: 4vw;
padding-top: 1vh;
margin-bottom: 20px;
}
.page1-content-about{
display: inline-block;
width: 100%;
color: rgb(29, 75, 61);
font-size: 7vw;
font-weight: bold;
padding-right: 8vw;
margin-bottom: 20px;
position: absolute;
bottom: 10vh;
right: 0;
text-align: right;
}
.page1-content-contact{
  display: inline-block;
  width: 100%;
  color: rgb(29, 75, 61);
  font-size: 7vw;
font-weight: bold;
padding-right: 8vw;
margin-bottom: 20px;
position: absolute;
bottom: 0;
right: 0;
text-align: right;
}

/*--- 2ページ目のCSS ---*/

.page2{
color: rgb(29, 75, 61);
width: 90vw;
margin: 6vh auto;
position: relative;
background-size: auto 100%;
background-color: rgba(250, 235, 215, 0.459);
text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.562);
}
.page-contents ul{
position: absolute;
top: 3vh;
}
.info-logo{
font-size: 12vw;
padding-left: 5vw;
padding-top: 1vh;
margin-bottom: 1vh;
}
.info-list{
padding: 0px 6vw 1vh 6vw;
display: block;
}
.info-date{
font-size: 4vw;
}
.info-text{
font-size: 6vw;
}

/* waveのcss */
.waves-container{
  padding-bottom: 1px;/* 下コンテンツとの重なり解消 */
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
/* waveのAnimation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}
/* -----  フッターのCSS  ----- */
.footer{
color: rgb(255, 255, 255);
width: 100vw;
position: relative;
background-size: auto 100%;
background-color: rgba(12, 41, 26, 0.9);
}
.profile{
padding: 3vh 8vw;
text-shadow:3px 3px 1px black;
}
.company-name{
font-size: 5vw;
}
.phone-number{
font-size: 3.5vw;
padding-left: 2vw;
}
.fa-phone-volume{
margin-right: 0.5vw;
}
.address{
font-size: 3.2vw;
padding-left: 2vw;
}
.map-container{
text-align: center;
}
.map{
width: 85vw;
height: 83vw;
box-shadow:10px 10px rgb(22, 22, 22);
}

.site-map{
text-shadow: 2px 2px 1px black;
margin:4vh 15vw 0px 15vw;
padding: 0px 8vw 10vh 8vw;
display: flex;
flex-wrap: wrap;
}
.site-map-content{
position: relative;
width: 50%;
vertical-align: top;
padding-bottom: 1.5vh;
}
.site-map a{
display:block;
color: #FFF;
font-size: 3vw;
}
.construction-example{
padding-left: 5vw;
}
.site-map-decoration{
border-left: 1px solid white;
border-bottom: 1px solid white;
width:2vw;
height: 1vh;
position: absolute;
top: 3vh ;
left: 1.7vw;
}

.scroll-top{
color: white;
position: absolute;
bottom: 0px;
right: 8vw;
z-index: 2;
display: inline-block;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
text-decoration: none;
padding-top: 50px;
}
.scroll-top span {
position: absolute;
top: 0;
left: 50%;
width: 46px;
height: 46px;
margin-left: -23px;
border: 1px solid #fff;
border-radius: 100%;
box-sizing: border-box;
}
.scroll-top span::after {
position: absolute;
top: 70%;
left: 50%;
content: '';
width: 16px;
height: 16px;
margin: -12px 0 0 -8px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
box-sizing: border-box;
}
.scroll-top span::before {
position: absolute;
top: 0;
left: 0;
z-index: -1;
content: '';
width: 44px;
height: 44px;
box-shadow: 0 0 0 0 rgba(255,255,255,.1);
border-radius: 100%;
opacity: 0;
-webkit-animation: sdb2 2s infinite;
animation: sdb2 2s infinite;
box-sizing: border-box;
}
@-webkit-keyframes sdb2 {
0% {
  opacity: 0;
}
30% {
  opacity: 1;
}
60% {
  box-shadow: 0 0 0 60px rgba(255,255,255,.1);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes sdb2 {
0% {
  opacity: 0;
}
30% {
  opacity: 1;
}
60% {
  box-shadow: 0 0 0 30px rgba(255,255,255,.1);
  opacity: 0;
}
100% {
  opacity: 0;
}
}

.copyright{
color: white;
background-color: rgba(0, 0, 0, 0.795);
width: 100vw;
text-align: center;
font-size: 2vw;
/* position: absolute; */
/* bottom: -4px; */
/* padding-bottom: 5px; */
}

/* ----fadeinのアニメーション----- */
/* 画面外にいる状態 */
.fadein {
opacity : 0.1;
transform : translate(0, 50px);
transition : all 500ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
opacity : 1;
transform : translate(0, 0);
}