*{
  padding: 0px 0px;
  margin: 0px 0px;
}
.background{
  width: 200px;
  height: 400px;
}
.background::before{
  background: url(img/modern.jpg);
  content: '';
  width: 100px;
  height: 100px;

}
.logo{
  width: 100%;
  background-color: rgb(160, 108, 92);
}
h1{
  color: aqua;
}
h1::before{
  content: 'やぁ';
  
}